@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 14px;
  box-sizing: border-box;
}

.main-background {
  background-color: #e5e5e5;
}

.navbar-background {
  background-color: #011f26;
}

.hr {
  border-color: #c4c4c4;
}

.category-button {
  @apply border border-2 rounded-lg bg-white hover:bg-gray-100 py-3 px-8 mx-3 rounded-full;
  color: #323237;
  border-color: #011f26;
}

.category-button-selected {
  @apply border border-2 rounded-lg hover:bg-black text-white py-3 px-8 mx-3 rounded-full;
  background-color: #011f26;
  border-color: #011f26;
}

.type1 {
  @apply rounded-lg text-white px-5 rounded-full flex items-center mb-1;
  background-color: #f2a679;
}

.type2 {
  @apply rounded-lg text-white px-5 rounded-full flex items-center mb-1;
  background-color: #0f4c59;
}

.textarea {
  @apply border rounded-md text-gray-700 outline-none w-full h-full table resize-none p-5;
  border-color: #616161;
  border-width: 1.5px;
}

.search-button {
  border-color: #f26e50;
  background-color: #fff;
  color: #f26e50;
  transition: all 0.2s ease-in-out;
}

.search-button:hover {
  background-color: #f26e50;
  color: #fff;
}

.black-font {
  color: #011f26;
}

.black-border {
  border-color: #011f26;
}

.item:hover {
  @apply border;
  border-color: #0f4c59;
}

.title-color {
  color: #011f26;
}

.accordion-title {
  color: #616161;
}

.accordion:hover .accordion-title {
  @apply font-bold;
  color: #0f4c59;
}

.Mui-expanded .accordion-title {
  @apply font-bold;
  color: #0f4c59;
}

.bookmark-border {
  @apply border;
  border-color: #011f26;
}

@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.strike,
.strike-white {
  position: relative;
}

.active {
  @apply line-through;
  text-decoration-color: #4f4de5;
  text-decoration-thickness: 0.125rem;
}

.active-white {
  @apply line-through;
  text-decoration-color: #fff;
}

.strike:hover::after {
  @apply bg-indigo-500 h-0.5 absolute left-0 w-full;
  content: " ";
  top: 100%;
  animation-name: strike;
  animation-duration: 400ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.strike-white:hover::after {
  @apply bg-white h-1 absolute left-0 w-full;
  content: " ";
  top: 50%;
  animation-name: strike;
  animation-duration: 400ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.image {
  @apply block rounded;
  width: 90%;
  height: 90%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.image-text {
  @apply opacity-0 absolute text-white text-center;
  transition: 0.5s ease;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scroll {
  @apply opacity-0;
  transition: all 1s ease-in-out;
}

.project-img {
  @apply absolute opacity-0;
  left: 50%;
  top: 50%;
  transform: translate3D(-50%, -47%, 0) scale(0.9);
  transition: all 0.8s cubic-bezier(0.42, 0, 0, 1.15);
}

.img-container:hover .project-img {
  @apply opacity-40 brightness-40;
  transform: translate3D(-50%, -50%, 0) scale(0.94);
}

.text-shadow-white {
  text-shadow: 1px 1px #5b5d61;
}

.particles-container {
  @apply h-full w-full absolute z-0;
  left: 0;
  top: 0;
}

.visit-link {
  @apply text-black;
  position: relative;
  border: 1px solid rgb(0, 0, 0);
  background: linear-gradient(to left, white 50%, black 50%) right;
  background-size: 200%;
  transition: 0.5s ease-in-out;
}

.visit-link:hover {
  @apply text-white;
  transform: translateX(0.5rem);
  background-position: left;
}

.visit-link:active {
  transform: translate(0.5rem, 0.5rem);
  box-shadow: 0px 10px 20px -15px rgba(229, 231, 235, 0.2);
}

.icon {
  margin: 0 !important;
}

.password-label {
  top: 8px;
  right: 5px;
}
