@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-background {
  background-color: #e5e5e5;
}

.navbar-background {
  background-color: #011f26;
}

.hr {
  border-color: #c4c4c4;
}

.category-button {
  @apply border border-2 rounded-lg bg-white hover:bg-gray-100 md:py-2 md:px-4 py-3 px-8 mx-3 md:mx-1 rounded-full;
  color: #323237;
  border-color: #011f26;
}

.category-button-selected {
  @apply border border-2 rounded-lg hover:bg-black text-white md:py-2 md:px-4 py-3 px-8 mx-3 md:mx-1 rounded-full;
  background-color: #011f26;
  border-color: #011f26;
}

.type1 {
  @apply rounded-lg text-white px-5 rounded-full flex items-center mb-1;
  background-color: #f2a679;
}

.type2 {
  @apply rounded-lg text-white px-5 rounded-full flex items-center mb-1;
  background-color: #0f4c59;
}

.textarea {
  @apply border rounded-md text-gray-700 outline-none w-full h-full table resize-none p-5;
  border-color: #616161;
  border-width: 1.5px;
}

.search-button {
  border-color: #f26e50;
  background-color: #fff;
  color: #f26e50;
  transition: all 0.2s ease-in-out;
}

.search-button:hover {
  background-color: #f26e50;
  color: #fff;
}

.black-font {
  color: #011f26;
}

.black-border {
  border-color: #011f26;
}

.item {
  @apply border;
}

.item:hover {
  border-color: #0f4c59;
}

.title-color {
  color: #011f26;
}

.accordion-title {
  color: #616161;
}

.accordion:hover .accordion-title {
  @apply font-bold;
  color: #0f4c59;
}

.Mui-expanded .accordion-title {
  @apply font-bold;
  color: #0f4c59;
}

.bookmark-border {
  @apply border;
  border-color: #011f26;
}

.content {
  color: #616161;
}

.icon:hover {
  fill: #011f26;
}

.icon:active {
  padding-top: 5px;
}

.MuiCircularProgress-svg {
  color: #011f26;
}
